.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;

  label {
    display: flex;
    flex-direction: column;
    width: 100%;

    input,
    textarea {
      flex-grow: 1;
      min-height: 32px;
      padding: 4px 0;

      font-weight: 500;
      font-size: 13px;
      line-height: 1;

      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-bottom: 2px solid rgba($color-default-black, 0.2);
      border-radius: 0;
      outline: none;

      transition: border $trans-default;

      &:hover {
        border-color: rgba($color-default-black, 0.5);
      }

      &:focus {
        border-color: rgba(#3369F3, 0.8);
      }
    }
  }

  &__label {
    font-weight: 500;
    font-size: 9px;
    line-height: 1;
    color: #999999;
  }

  &__error {
    font-weight: 400;
    font-size: 8px;
    line-height: 1;

    color: $color-torch-red;

    height: 0;
    opacity: 0;

    transition: opacity $trans-default;
  }

  &.is-invalid {
    input {
      border-color: $color-torch-red;
      color: $color-torch-red;

      &:focus,
      &:hover {
        border-color: rgba($color-torch-red, 0.5);
      }
    }

    .custom-input__error {
      opacity: 1;
      height: auto;
      margin-top: 5px;
    }
  }

  /*&.is-valid {
    input {
      border: 2px solid $color-malachite;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-malachite, 0.5);
      }
    }
  }*/
}
