---
title: Chat
---

{{!< base}}

<main>
  <nav style="display:flex; flex-direction:column; margin:10vh auto; max-width: 300px;">
    <a href="login.hbs">Логин</a>
    <a href="signin.hbs">Регистрация</a>
    <a href="chat.hbs">Чат с пользователем</a>
    <a href="profile.hbs">Профиль</a>
    <a href="profile-edit.hbs">Редактирование профиля</a>
    <a href="profile-password.hbs">Редактирование пароля</a>
    <a href="404.hbs">404</a>
    <a href="500.hbs">500</a>
  </nav>
</main>