---
title: Login in chat
---

{{!< base}}

<main class="main--center">
  <div class="card">
    <h1 class="card__title">Вход</h1>
    {{> login}}
    <div class="card-footer">
      <a class="btn btn--link btn--100" href="./signin.hbs">Нет аккаунта?</a>
    </div>
  </div>
</main>