---
title: Profile
---

{{!< base}}

<main>
  <div class="chat chat--aside-collapsed">
    {{> chat-aside}}
    <div class="profile">
      <div class="profile__avatar">
        {{> profile-avatar}}
      </div>
      <div class="profile__info">
        {{> profile-password}}
      </div>
    </div>
  </div>
</main>