---
title: Signin in chat
---

{{!< base}}

<main class="main--center">
  <div class="card">
    <h1 class="card__title">Регистрация</h1>
    {{> signin}}
    <div class="card-footer">
      <a class="btn btn--link btn--100" href="./login.hbs">Войти</a>
    </div>
  </div>
</main>