<div class="chat-body">
  <div class="chat-body__top">
    {{> chat-topbar}}
  </div>
  <div class="chat-body__middle chat-body__middle--scroll">
    {{> chat-messages}}
  </div>
  <div class="chat-body__bottom">
    {{> chat-write}}
  </div>
</div>