<div class="chat-profile">
  <span class="chat-profile__name">Василий Пупкин</span>
  <a class="chat-profile__link" href="profile.hbs">
    Профиль
    <svg width="4" height="8" aria-hidden="true">
      <use xlink:href="#icon-profile"></use>
    </svg>
  </a>
</div>