<div class="chat-aside">
  <div class="chat-aside__profile">
    {{> chat-profile}}
  </div>
  <div class="chat-aside__search">
    {{> chat-search}}
  </div>
  <div class="chat-aside__contacts chat-aside__contacts--scroll">
    {{> contact-list}}
  </div>
  <div class="chat-aside__toggle">
    {{> chat-toggle}}
  </div>
</div>