<ul class="profile-summary">
  <li class="profile-summary__item">
    <a class="link" href="profile-edit.hbs">Изменить данные</a>
  </li>
  <li class="profile-summary__item">
    <a class="link" href="profile-password.hbs">Изменить пароль</a>
  </li>
  <li class="profile-summary__item">
    <a class="link link--red" href="index.hbs">Выйти</a>
  </li>
</ul>