<form class="profile-form" action="/">
  {{#each profile.password}}
    <div class="profile-form__item">
      {{> input}}
    </div>
  {{/each}}
  <div class="profile-form__submit">
    <button class="btn btn--50" type="submit">Сохранить</button>
  </div>
</form>