<div class="card-form">
  {{#each signin}}
    <div class="card-form__item">
      {{> input}}
    </div>
  {{/each}}
  <div class="card-form__button">
    <button class="btn btn--blue btn--100" type="submit">Авторизоваться</button>
  </div>
</div>